{% extends "base.html" %}
{% block content %}
<link href="/static/styles/windows_style.css">
<div class="col-md12 border rounded" style="padding:1% 2%; margin:1% 2%; background: white;">
    <h1>{{advertisement.title}}</h1>
    <img src="{{url_for('static', filename=advertisement.file)}}" style="display: block; margin-left: auto;
    margin-right: auto;" width="500" height="500">
    <h3>Описание:</h3>
    <div style="font-size:x-large;">
        {% for line in advertisement.content.split("\n")%}
        {{line}}<br>
        {% endfor %}
    </div>
    <h3>Создатель:</h3>
    <div style="font-size:x-large;">
        {{advertisement.user.name}}
        <br>
        {{advertisement.user.email}}
    </div>
    {% if current_user.is_authenticated %}
        {% if current_user.id != advertisement.user.id %}
        <div class="col-2 center">
            <a href="/chat/{{ advertisement.user.id }}" class="btn btn-success">
                Чат с пользователем
            </a>
        </div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}