{% extends "base.html" %}

{% block content %}
<h1>Предложения обмена</h1>
{% for item in news%}
<div class="col-md6 border rounded">
    <img src="https://github.com/Daytly/Provito/blob/c3c318a64f828f8dea310aa352be49eb4ce96e5d/UsersImages/test/main.jpeg" alt="В этом виноват Рома">
    <h2>{{item.title}}</h2>
    <div>
        {{item.content}}
    </div>
    <div>
        Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
    </div>
    {% if current_user.is_authenticated and current_user == item.user %}
    <div>
        <a href="/news/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/news_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
{% endif %}
</div>
{% endfor %}
    {% if current_user.is_authenticated %}
    <a href="news" class="btn btn-secondary">Добавить новость</a>
    {% endif %}
{% endblock %}